.side-menu {
  position: fixed;
  top: 60px; /* Ajusta esto a la altura de tu encabezado */
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #f8f9fa; /* color de fondo */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.main-content {
  margin-top: 0; /* Elimina el margen superior */
  margin-left: 300px; /* Debe coincidir con el ancho del menú lateral izquierdo */
  flex-grow: 1;
  padding: 20px; /* Agrega un poco de relleno al contenido principal */
  overflow-y: auto;
}

.right-content {
  background-color: #f0f0f0; /* Color de fondo del contenido principal */
  height: calc(100vh - 60px); /* Resta la altura del encabezado */
  overflow-y: auto;
}

.side-menu .container {
  width: 100%;
}

.side-menu button {
  width: 100%;
}

/*------ngbDropdown-------*/
.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-group {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columnas */
  gap: 70px; /* Espacio entre los botones */
  margin-left: -55%; /* Ajusta el valor según sea necesario */
  margin-top: -20%;
}


/* Estilos para el botón */
.custom-button {
  background-color: #5a6268; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Quita el borde del botón */
  padding: 10px 80px; /* Ajusta el padding del botón según sea necesario */
  border-radius: 5px; /* Añade bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el botón al pasar el cursor sobre él */
.custom-button:hover {
  background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el cursor */
}

.custom-button::first-line {
  text-align: left; /* Alinea el texto del botón hacia la izquierda */
}
.side-menu .container button {
  margin-bottom: 10px; /* Agrega un margen inferior a los botones */
}

.col-lg-6{
  background-color: #0056b3;
}




/*Filas*/
.form-group{
  margin-bottom: 120px; /* Puedes ajustar este valor según la distancia deseada */
}

.label-bordered {
  border: 2px solid #000; /* Cambia el color y grosor del borde según tus necesidades */
  padding: 5px; /* Ajusta el espacio interno (padding) según tus necesidades */
  border-radius: 4px; /* Opcional: para bordes redondeados */
  display: inline-block; /* Asegura que el label se comporte como un elemento en línea */
  margin-bottom: 5px; /* Ajusta el espacio inferior según sea necesario */
}

